body {
    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: darkslategray;

}

/* Joycon izquierdo */

#left {
    width: 9.9em;
    height: 31.6em;


    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

    #ltop{
        width: 9.9em;
        height: 7.6em;

        display: flex;
        flex-direction: row;
        align-items: flex-end;

    }
        #ltrigger{
            width: 9.3em;
            height: 7em;

            display: flex;
            flex-direction: row;
            justify-content: center;

            position: absolute;
            z-index: -1;

        }
            #ltrigger1{
                width: 4.4em;
                height: 3em;
                border-radius: 90% 0% 0% 10%;
                background-color: black;
            }
            #ltrigger2{
                width: 3.9em;
                height: 7em;
                border-radius: 0% 10% 0% 0%;
                background-color: black;
            }
        #ltop1{
            width: 6em;
            height: 6.6em;
            border-radius: 75% 0% 0% 0%;
            background-color: #FC5000;
        }
        #ltop2{
            width: 3.9em;
            height: 6.6em;
            background-color: #FC5000;

            display: flex;        
            justify-content: center;
            align-items: center;
        }
            #minus{
                width: 1.8em;
                height: 0.6em;
                background-color: #292F33;
            }

    #lmedio{
        width: 9.9em;
        height: 18em;
        background-color: #FC5000;

        display: flex;
        flex-direction: column;
    }
        #lmtop {
            width: 9.9em;
            height: 8em;
            background-color: #FC5000;
            display: flex;

            align-items: center;
            justify-content: center;
        }
            #lstick{
                width: 5em;
                height: 5em;
                background-color: #292F33;
                border-radius: 50%;
            }
        #lmcenter{
            width: 9.9em;
            height: 6em;
            background-color: #FC5000;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
        }
            #lmcenterUp{
                width: 9.9em;
                height: 2em;
                background-color: #FC5000;

                display: flex;

                align-items: center;
                justify-content: center;
            }
                #upB{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
            #lmcenterLR{
                    width: 9.9em;
                    height: 2em;
                    background-color: #FC5000;
    
                    display: flex;
    
                    align-items: center;
                    justify-content: space-evenly;
            }
                #leftB{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
                #rightB{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
            #lmcenterDown{
                width: 9.9em;
                height: 2em;
                background-color: #FC5000;
    
                display: flex;
    
                align-items: center;
                justify-content: center;
            }
                #downB{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
        #lmcenter2{
            width: 9.9em;
            height: 1em;
            background-color: #FC5000;
        }
        #lmbottom{
            width: 9.9em;
            height: 3em;
            background-color: #FC5000;
        }
    #lbottom{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: flex-start;
        width: 9.9em;
        height: 6em;
        z-index: 0;

    }
        #lshield{
            width: 4em;
            height: 5em;
            z-index:  1;
            position: absolute;

        }
            #naranja{
                width: 4em;
                height: 5em;
            }
        #lbottom1{
            width: 6em;
            height: 6em;
            border-radius: 0% 0% 0% 75%;
            background-color: #FC5000;
            z-index: 0;
        }
        #lbottom2{
            width: 3.9em;
            height: 6em;
            background-color: #FC5000;
            z-index: 0;
        }

/* Pantalla */

#center {
    width: 51.9em;
    height: 30.6em;
    background-color: #292F33;

    display: flex;
    justify-content: center;
    align-items: center;
}
    #border {
        width: 49em;
        height: 28em;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #screen {
            width: 42em;
            height: 24em;
            background-color: white;
        }

/* Joycon derecho */

#right {
    width: 9.9em;
    height: 31.6em;


    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}
    #rtop{
        width: 9.9em;
        height: 7.6em;

        display: flex;
        flex-direction: row;
        align-items: flex-end;

    }
        #rtrigger{
            width: 9.3em;
            height: 7em;

            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;

            position: absolute;
            z-index: -1;

        }
            #rtrigger1{
                width: 4.4em;
                height: 3em;
                border-radius: 0% 90% 10% 0%;
                background-color: black;
            }
            #rtrigger2{
                width: 3.9em;
                height: 7em;
                border-radius: 10% 0% 0% 0%;
                background-color: black;
            }
        #rtop1{
            width: 3.9em;
            height: 6.6em;
            background-color: #60269E;

            display: flex;        
            justify-content: center;
            align-items: center;
            z-index:  0;
        }
            #plus1{
                width: 1.8em;
                height: 0.6em;
                background-color: #292F33;
                z-index:  1;
                position: absolute;
            }
            #plus2{
                width: 0.6em;
                height: 1.8em;
                background-color: #292F33;
                z-index:  2;

            }

        #rtop2{
            width: 6em;
            height: 6.6em;
            border-radius: 0% 75% 0% 0%;
            background-color: #60269E;
        }

    #rmedio{
        width: 9.9em;
        height: 18em;
        background-color: #60269E;
    }
        #rmtop{
            width: 9.9em;
            height: 6em;
            background-color: #60269E;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
        }
            #rmtopX{
                width: 9.9em;
                height: 2em;
                background-color: #60269E;

                display: flex;

                align-items: center;
                justify-content: center;
            }
                #XButtom{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
            #rmtopYA{
                    width: 9.9em;
                    height: 2em;
                    background-color: #60269E;

                    display: flex;

                    align-items: center;
                    justify-content: space-evenly;
            }
                #YButtom{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
                #AButtom{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
            #rmtopB{
                width: 9.9em;
                height: 2em;
                background-color: #60269E;

                display: flex;

                align-items: center;
                justify-content: center;
            }
                #BButtom{
                    width: 2em;
                    height: 2em;
                    background-color: #292F33;
                    border-radius: 50%;
                }
    
        #rmcenter{
            width: 9.9em;
            height: 9em;
            background-color: #60269E;

            display: flex;

            align-items: center;
            justify-content: center;
        }
            #rstick{
                width: 5em;
                height: 5em;
                background-color: #292F33;
                border-radius: 50%;
            }
        #rmbottom{
            width: 9.9em;
            height: 3em;
            background-color: #60269E;
        }

    #rbottom{
        display: flex;
        flex-direction: row;

        width: 9.9em;
        height: 6em;

        align-items: flex-start;
        justify-content: center;
        z-index: 1;

    }
        #rshield{
            width: 4em;
            height: 5em;
            z-index:  2;
            position: absolute;

        }
            #uva{
                width: 4em;
                height: 5em;
            }
        #rbottom1{
            width: 3.9em;
            height: 6em;
            background-color: #60269E;
            z-index: 1;
        }
        #rbottom2{
            width: 6em;
            height: 6em;
            border-radius: 0% 0% 75% 0%;
            background-color: #60269E;
            z-index: 1;
        }